
.booking-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
  margin: auto;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.gallery img {
  width: 200px;
  border-radius: 10px;
}
section {
  animation: fadeIn 1s ease-in;
}
